/* Map style */
#map {
    width:90%;
    height:100%;
	margin:auto;
}

#maintitle {
	text-align:center;
}

#launcher {
	display: table;
	margin: 0 auto;
}

.maintitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal-body {
    font-size: large;
    font-weight: 200;
}

.modal-content {
    width: 600px;
}
.navbar-custom {
    background-color: #0e1d73;
    border-color: white;
}

.modal-header {
    background-color: #ba4a9e;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.glyphicon-plane {
   color: white;
}

.navbar-brand {
   color: white;
}

.dropdown-toggle {
    color: white;
}

.dropdown-menu .selected {
    background-color: #f5f5f5;
}

